/*
*  STARVADER: A simple shoot-'em-up using DOM in jQuery and Velocity.js
*  Copyright 2014 Chocolancer; MIT License: http://opensource.org/licenses/MIT
*/
.gameobject {
    color:  green;
}

.gametext {
    color: #00FF21;
    font-family: "Courier New", Courier, monospace;
}

.fixed {
    position: absolute;
}

#gameframe {
    position: absolute;
    width: 640px;
    height: 480px;
}

#gameframe.running {
    border: 1px solid white;
}

#score {
    left: 40%;
}

#ship {
    background-image: url('images/ship.png');
    width: 16px;
    height: 16px;
}

.mook {
    background-image: url('images/mook.png');
    width: 16px;
    height: 16px;
}

.star {
    background-color: green;
    width: 8px;
    height: 8px;
}

.bullet {
    background-color: green;
    width: 4px;
    height: 12px;
    opacity: 0;
}

.star-start {

}