/*
*  STARVADER: A simple shoot-'em-up using DOM in jQuery and Velocity.js
*  Copyright 2014 Chocolancer; MIT License: http://opensource.org/licenses/MIT
*/
.gameobject {
    color:  green;
}

.gametext {
    color: #00FF21;
    font-family: "Courier New", Courier, monospace;
}

.fixed {
    position: absolute;
}

#gameframe {
    position: absolute;
    width: 640px;
    height: 480px;
}

#gameframe.running {
    border: 1px solid white;
}

#score {
    left: 40%;
}

#ship {
    background-image: url('images/ship.png');
}

.mook {
    background-image: url('images/mook.png');
}

.normal-size {
    width: 16px;
    height: 16px;
}

.big-size {
    width: 64px;
    height: 64px;
}

.normal-deadframe0 {
    background-image: url('images/die0.png');
}

.normal-deadframe1 {
    background-image: url('images/die1.png');
}

.normal-deadframe2 {
    background-image: url('images/die2.png');
}

.big-deadframe0 {
    background-image: url('images/bigdie0.png');
}

.big-deadframe1 {
    background-image: url('images/bigdie1.png');
}

.big-deadframe2 {
    background-image: url('images/bigdie2.png');
}

.star {
    background-color: #00FF21;
    width: 2px;
    height: 6px;
}

.bullet {
    background-color: green;
    width: 4px;
    height: 12px;
    opacity: 0;
}

.star-start {

}